.navbar-container{
    background-color: aliceblue;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
   }
   
   .navbar-logo{
     width: 80px;
   }
   
   .navbar-link{
     display: flex;
     flex-direction: row;
     justify-content: flex-start;
     list-style: none;
   
   }
   
   .nav-link{
     text-decoration: none;
     color: black;
     margin-left: 20px;
   }