.agregar{
    display: flex;  
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.stock{
    display: flex;
    flex-direction: column;
    line-height: 1px
}

.btn{
    margin: 10px;
}

.boton-agregar{
    width: 130px;
    background-color: rgb(82, 94, 187);
    color: white;
    font-weight: bold;
    border-radius: 20px;
    border: 1px solid rgb(81, 0, 255);
    padding: 8px;
    transition: 0.3s;
}

.boton-agregar:hover{
    background-color: rgb(3, 3, 179);
}